* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  /* height: 100vh; */
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas: ". title ." ". dropdown .";
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 90px 1fr;
  background-image: url(pics/nasa-world.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.header-title {
  grid-area: title;
  color: white;
  text-shadow: 2px 1px black;
}

/* Dropdown menu in header */

.btn {
  position: relative;
}

.link {
  border: none;
  position: relative;
}
/* Dropdown Button */
.dropbtn {
  background-color: #575858;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  grid-area: dropdown;
  background-color: #575858;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(196, 196, 199);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Main pages with the news articles */
main {
  grid-area: main;
  background-color: #a4c0c0;
  display: flex;
  align-items: start;
  justify-content: center;
}

#news-list {
  width: 90%;
  height: 90%;
  margin: 10px;
}

.news-article {
  background-color: #575858;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  display: grid;
  grid-template-areas: "img text";
}

.news-image {
  grid-area: img;
}

.news-content {
  grid-area: text;
  margin: 5px;
}
